:root {
  --primary-scissors-gradient: #ec9e0e to #eca922;
  --primary-paper-gradient: #4865f4 to #5671f5;
  --primary-scissors-gradient: #dc2e4e to #dd405d;

  --neutral-dark-text: #3b4363;
  --neutral-score-text: #2a46c0;
  --neutral-header-outline: #606e85;

  --background-color: #1f3756 to #141539;
}

* {
  padding: 0;
  margin: 0%;
  box-sizing: border-box;
  font-size: 15px;
  font-family: "Barlow Semi Condensed", sans-serif;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

body {
  background-image: radial-gradient(farthest-side at 50% 30%, #1f3756, #141539);
  background-size: cover;
  background-position: top;
  /* background-repeat: no-repeat; */
}

.app_container {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.inner_app_container {
  max-width: 1366px;
  margin: 0 auto;
  padding: 1rem;
}

.rules_btn {
  position: absolute;
  bottom: 3%;
  right: 2%;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 6px;
  padding: 0.3rem 1.5rem;
  font-size: 0.8rem;
  letter-spacing: 2px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease;
}

.rules_btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
